[run]
source = src,scripts
relative_files = true
omit = 
    */app_ui.py
    */main.py
    */*_demo.py
    */tests/*
    */__pycache__/*
    */site-packages/*
    */notebooks/*
    */logs/*
    */captures/*
    */models/*
    */conftest.py
    */test_ssd_load.py
    */ssd_detector.py

[xml]
output = coverage.xml

[report]
fail_under = 0
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    @abstractmethod
